{% extends 'base.html' %}
{% load static %}

{% block content %}
  

  
<div class="hero_area">
  <!-- header section strats -->
      <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <img src="https://i.pinimg.com/736x/4b/3e/9e/4b3e9e2a2586279c69adffb11218cd26.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    WELCOME BACK ADMIN 
                  </h1>
                  <p>
                    You can controll the entire process now . <br>
                    Add the new teachers details  
                  </p>
                  <div class="btn-box">
                    <a href="registers" class="btn1">
                      Add Teacher
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <img src="https://i.pinimg.com/736x/4b/3e/9e/4b3e9e2a2586279c69adffb11218cd26.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    HEY ADMIN.............
                  </h1>
                  <p>
                    Please check the teachers
                  </p>
                  <div class="btn-box">
                    <a href="regviewtable" class="btn1">
                      View Teacher
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <img src="https://i.pinimg.com/736x/4b/3e/9e/4b3e9e2a2586279c69adffb11218cd26.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    HEY ADMIN.............
                  </h1>
                  <p>
                    Please approve the student for accessing the site
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Approve Student
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>

  </section>
  <!-- end slider section -->
</div>

<!-- service section -->
<section class="service_section layout_padding">
   <img src="" alt="">
</section>
<!-- end service section -->

<!-- about section -->


{% endblock content %}